@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  color: #FF00B0;
  background: #FFF066 ;
  font-family: "Fira Code", sans-serif; /* Default Font Fira Code */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bg-secondary {
  color: #333333;
}
.text-secondary {
  color: #007FFF;
}
